* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0)), url('hastinapur.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Define general styles for the page */
body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.h {
    font-family: 'Times New Roman';
    font-size: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.575);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0;
}

/* Style the history section */
.b1 {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 20px;
    margin: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}

.b1 h2 {
    font-family: 'Times New Roman';
    color: #ffffff;
    padding: 1%;
}

.b1 p {
    padding: 1%;
    color: #ffffff;
}

/* Style the interesting facts section */
.b2 {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 20px;
    margin: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}

.b2 h2 {
    font-family: 'Times New Roman';
    color: #ffffff;
    padding: 1%;
}

.b2 li {
    color: #ffffff;
    margin: 10px 0;
}

/* Style the time to visit section */
.b3 {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}

.b3 h3 {
    font-family: 'Times New Roman';
    color: #ffffff;
    padding: 1%;
}

.b3 p {
    color: #ffffff;
    padding: 1%;
}
/* Style the map section */
.b4 {
    background-color: rgba(0, 0, 0, 0.842);
    padding: 20px;
    margin: 5px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}

.b4 h3 {
    font-family: 'Times New Roman';
    color: #ffffff;
    padding: 1%;
}

.b4 .map {
    max-width: 100%; /* Ensure the map scales with its container */
    padding-top: 75%; /* Maintain a 4:3 aspect ratio for the map */
    position: relative;
}

.b4 iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}